{% extends '@App/layouts/base.html.twig' %}

{% block title %}{{ 'contacts'|trans }}{% endblock %}

{% block body %}
    {% if contacts|length %}
        <div class="container block-container">
            <div class="box">
                {% for contact in contacts %}
                    <div class="columns">
                        <div class="column is-2">
                            <span>
                                <i class="fa fa-{{ contact.icon|default('info') }}"></i>
                            </span>
                            <b>{{ contact.name }}</b>
                        </div>
                        <div class="column is-4">
                            {{ contact.value }}
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container block-container" id="container-feedback-form">
        <div class="columns">
            <div class="column is-8">
                <div class="panel">
                    <div class="panel-heading">
                        <h2>{{ 'Feedback form'|trans }}</h2>
                    </div>
                </div>
                {{ form_start(reportForm) }}
                    <div class="columns">
                        <div class="column is-6">
                            {{ form_row(reportForm.name, {
                                'label': false,
                                'attr': {'placeholder': 'report_name', 'class': reportForm.name.vars.errors|length ? 'is-danger' : ''}
                            }) }}
                        </div>
                        <div class="column is-6">
                            {{ form_row(reportForm.email, {
                                'label': false,
                                'attr': {'placeholder': 'report_email', 'class': reportForm.email.vars.errors|length ? 'is-danger' : ''}
                            }) }}
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            {{ form_row(reportForm.message, {
                                'label': false,
                                'attr': {'placeholder': 'report_message', 'class': reportForm.message.vars.errors|length ? 'is-danger' : ''}
                            }) }}
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            {% include '@App/parts/reCaptcha.html.twig' %}
                        </div>
                    </div>
                    <button class="button is-info">{{ 'message_send_button'|trans }}</button>
                {{ form_end(reportForm) }}
            </div>
        </div>
    </div>
{% endblock %}